*
{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
header
{
    width: 100%;
    display: flex;
    margin: auto;
    background-color: #143a47;
    height: 40px;

}
.nav 
{

    width: 60%;
     font-family: sans-serif;
    margin: auto;
    color: white;
    /* padding-left: 30px; */
     padding: 10px 0px;
     
}
.eye
{
    width: 25%;
    height: 50px;
     padding: 10px;
    margin: auto;

}
.eye a 
{
    padding: 25px 20px;
    text-decoration: none;
    font-size: 16px;
    color: white;
    font-family: sans-serif;
}
.line 
{
      padding: 10px; 
      color: white;
}
/* .navbar 
{
    display: flex;
    background-color: white;
    margin: auto;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    position: relative;

}
.menu-content 
{
    margin-left: 120px;
}
.menu-content ul 
{
    display: flex;
}
.menu-content li 
{
    list-style: none;
    padding: 20px;
    font-size: 16px;
    font-family: sans-serif;
    font-weight: 700;
    color: #2c2e2f;
}
.menu 
{
    
    padding: 20px;
    margin-right: 10%;
    margin-bottom: 20px;

}
.menu i{
    font-size: 23px;
    padding: 20px 10px;
  
    

}
.logo img 
{   
    height: 32px;
  position: absolute;
   right: 83%;
  top: 23%;
} */

.oo 
{
    margin-bottom: 20px;
    text-align: center;
    height: 300px;
   
}
.oo button
{
    color: #143a47;
}

.oo button:hover
{
    background-color: #143a47;
    color: white;
    transition: all 0.3s;
    font-weight: bold;
}
.pat 
{
    display: flex;
    position: relative;
}

.box 
{
    position: absolute;
    left: 80%;
    width: 70%;
    top: 20%;

}   
.box button 
{
    color: #143a47;
}
.box button:hover 
{  

    background-color: #143a47;
    color: white;
}
.bb
{
    margin-bottom: 20px;
    text-align: center;
}


.container{
  max-width: 1280px;
  margin: 0 auto;
  height: 100%;
}
.swiper-container {
    width: 100%;
    height: 100%;
}
.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.dropdown-menu 
{
    display: none;
}
.nav-item:hover .dropdown-menu 
{
    display: block;
}
.navbar-brand  img 
{
    height: 32px;
    position: absolute;
    right: 83%;
   top: 32%;
}
.icon 
{
    position: relative;    
}
.icon 
{ 
    position: absolute;
    left: 80%;
    font-size: 24px;
}
.icon i 
{
    padding: 10px;
    font-weight: 700;
}
.navbar-nav li 
{
    font-size: 18px;
    font-weight: 600;
    color: black;
    padding: 0px 10px;
}
.image:hover img 
{
    transform: scale(1.1);
    /* overflow: hidden; */
    transition: all ease-in-out 0.5s;
   
}


.shem {

    transition: all ease-in-out 0.5s;
}
.prev, .next {
    position: absolute;
    top: 334.5%;
   
 
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
    user-select: none;
    border: none;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 0 3px 3px 0;
    outline: none;
}

.next {
   left: 220px;
    /* border-radius: 3px 0 0 3px; */
    border-radius: 50%;
    background-color: white;
    color: #2c2e2f;
    margin-left: 10px;
    padding: 7px 15px;
    top: 334.5%;
    position: absolute;
}
.prev 
{
    right: 86%;
    position: absolute;
    border-radius: 50%;
    background-color: white;
    color: #2c2e2f;
   margin-left: 10px;
   padding: 7px 15px;
}

.prev:hover, .next:hover {
    background-color: white;
    color: #2c2e2f;
}
.pat 
{
    display: flex;
    position: relative;
}

.box 
{
    position: absolute;
    left: 80%;
    width: 70%;
    top: 20%;

}   
.box button 
{
    color: #143a47;
}
.box button:hover 
{  

    background-color: #143a47;
    color: white;
}
.carousel-control-prev-icon
{
    
    background-color:  black;
  color: white;
    border-radius: 50%;
    padding-top: 50px;
    padding-left: 20px;
    padding-right: 20px;
   
    
   
}
/* .carousel-control-prev-icon:hover 
{
    background-color: black;
    color: black;
    border-radius: 50%;
    height: 20px;
 
} */
.carousel-control-next-icon
{
    
    background-color:  black;
    color: white;
    border-radius: 50%;
    padding-top: 50px;
    padding-left: 20px;
    padding-right: 20px; 
    margin-right: 90px; 
}
.bb strong 
{
    content: '';
    /* display: block; */
    border-bottom: 4px solid #e9e3db;
    width: 4%;
    transition: all ease-in-out 0.3s;
    
     
}
 /* .sleet {
    display: flex;
    justify-content: center;
 }
 .get {
    content:url("https://ratiocoffee.com/cdn/shop/files/ratio-four-1_540x.jpg?v=1705959008");
    height: 400px;
    
 }
 .get:hover{
    content:
       url("https://ratiocoffee.com/cdn/shop/files/ratio-four-2_540x.jpg?v=1705959009");
       height: 400px;
     
       
 } 
 .ggg {
    display: flex;
    justify-content: center;
 }
 .ww {
    content:url("https://ratiocoffee.com/cdn/shop/files/ratio6-white-A3_1800x1800.jpg?v=1713379688");
    height: 400px;
    
 }
 .ww:hover{
    content:
       url("https://ratiocoffee.com/cdn/shop/files/ratio6-black-C3_540x.jpg?v=1713379688");
       height: 400px;
     
       
 }
 .style {
    display: flex;
    justify-content: center;
 }
 .lett {
    content:url("https://ratiocoffee.com/cdn/shop/products/ratio8-black-walnut-glass-A2_97a819a0-1301-4b67-962d-9a4655bf08eb_540x.jpg?v=1707430852");
    height: 400px;
    
 }
 .lett:hover{
    content:
       url("https://ratiocoffee.com/cdn/shop/products/ratio8-white-walnut-glass-B2_2b6eef54-fd51-4b84-8eb4-e8fcf9415090_540x.jpg?v=1629843557");
       height: 400px;
     
       
 } */
 .dropbtn {
       
    color:  black;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    display: flex;
}

.dropdownuu {
    position: relative;
    /* display: inline-block; */
    display: flex;
    width: 100%;
  
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color:  white;
    
    z-index: 1;
    height: 300px;
    
}

.dropdown-content a {

    color: black;
    margin: 20px 30px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color:  white;
}

.dropdown:hover .dropdown-content {
    display: block;
    display: flex; 
}

